<div class="page-header">

    <!-- checa se tem alguém logado pra carregar o menu certo-->
    @if (@*HttpContext.Current.User == null*@ true) 
    {
        @Html.Partial("_UserDeslogado")
    }
    else
    {
        @Html.Partial("_UserLogado")
    }


</div>