<div class="page-header">
    @if (!HttpContext.Current.User.Identity.IsAuthenticated) 
    {
        @Html.Partial("_UserDeslogado")
    }
    else
    {
        @Html.Partial("_UserLogado")
    }
</div>