@using Entity
@using Entity.ViewModels
@model UsersConhecerPessoas

@{
    int cols = 12 / Model.NumeroColunas;
}
<div class="row mix-grid thumbnails">
    @foreach (Usuario user in Model.Usuarios)
    {
        int idade = DateTime.Now.Year - user.DataNascimento.Year;

        string[] tags = String.IsNullOrWhiteSpace(user.Tags) ? new string[1] : user.Tags.Split(',');

        <div id="user@(user.ID)" class="col-md-@cols col-sm-4 mix mix_all" style="display: block;  opacity: 1;">
            <div class="mix-inner">
                <img class="img-responsive" src="@user.PathFotoPerfil" alt="">
                <div class="mix-details">

                    <h3 class="bold">@user.Nome, @idade</h3>
                    <p>
                        @user.FraseApresentacao
                    </p>

                    <ul class="list-inline blog-tags">
                        <li>
                            @foreach (string tag in tags)
                            {
                                <i class="fa fa-tags"></i>@tag
                            }
                        </li>
                    </ul>

                    <a class="btn default ver-perfil-detalhado" data-target="#stack1" data-toggle="modal">
                        Ver perfil
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<div id="stack1" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h2 class="modal-title bold"> <span id="nome"></span>, <span id="idade"></span></h2>
    </div>

    <div class="modal-body col-md-12 ">
        <img src="" class="img-responsive" alt="" id="foto">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <h3 id="frase-apresentacao"></h3>
                </p>
            </div>

            <hr>
            <div class="col-md-12">
                <p>
                    <h4 id="descricao"></h4>
                </p>
            </div>

            <hr>
            <div class="col-md-12">
                <ul class="list-inline blog-tags">
                    <li id="tags">
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Voltar</button>
        <button class="btn blue" data-toggle="modal" href="#stack2">Álbum de Fotos</button>
    </div>
</div>