@using Entity
@using Entity.ViewModels
@model UsersConhecerPessoas
@if (Model.Usuarios.Count == 0)
{
    <h2 align="center">Não foram encontradas pessoas compatíveis com seu filtro :/</h2>
    <h3 align="center">Tente cadastrar mais tags em seu perfil ou</h3>
}

@{
    int cols = 12 / Model.NumeroColunas;
}
<div class="row mix-grid thumbnails">
    @foreach (Usuario user in Model.Usuarios)
    {
        DateTime hoje = DateTime.Today;
        DateTime nasc = user.DataNascimento;

        int idade = hoje.Year - nasc.Year;
        if (hoje.Month < nasc.Month || ((hoje.Month == nasc.Month) && (hoje.Day < nasc.Day)))
        {
            idade--;
        }
        string[] tags = String.IsNullOrWhiteSpace(user.Tags) ? new string[1] : user.Tags.Split(',');

        <div id="user@(user.ID)" class="col-md-@cols col-sm-4 col-xs-6 mix mix_all card-usuario" style="display: block;  opacity: 1;">
            <div class="mix-inner">
                <img class="img-responsive foto-usuarios" src="@user.PathFotoPerfil" alt="">
                <div class="mix-details">
                    <h3 class="bold h3-nome-idade" style="margin-top: 10px;">@user.Nome, @idade</h3>
                    <p style="padding: 5px;" class="p-frase">
                        @user.FraseApresentacao
                    </p>
                    <ul class="list-inline blog-tags ul-tags">
                        <li>
                            @foreach (string tag in tags)
                            {
                                <i class="fa fa-tags"></i>@tag
                            }
                        </li>
                    </ul>
                    <a class="btn default ver-perfil-detalhado botao-ver-perfil" data-target="#stack1" data-toggle="modal">
                        Ver perfil
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<div id="stack1" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h2 class="modal-title bold"> <span id="nome"></span>, <span id="idade"></span></h2>
    </div>
    <div class="modal-body col-md-12 ">
        <img src="" class="img-responsive" alt="" id="foto" width="100%">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <h4 class="bold" id="frase-apresentacao"></h4>
                </p>
            </div>
            <hr>
            <div class="col-md-12">
                <p>
                    <h4 id="descricao"></h4>
                </p>
            </div>
            <hr>
            <div class="col-md-12">
                <ul class="list-inline blog-tags">
                    <li id="tags">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Voltar</button>
        <button class="btn blue" data-toggle="modal" href="#stack2">Álbum de Fotos</button>
    </div>
</div>

<div id="stack2" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div id="myCarousel" class="carousel image-carousel slide">
        <div class="carousel-inner" id="carousel-fotos">
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <i class="m-icon-big-swapleft m-icon-white"></i>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <i class="m-icon-big-swapright m-icon-white"></i>
        </a>
        <ol class="carousel-indicators" id="indicadores-carousel"></ol>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Voltar</button>
    </div>
</div>