@{
    ViewBag.Title = "Home";
}
<img src="~/assets/banner LT.bmp" width="100%" />
<style>
    .custom-texto {
        font-size: 18px;
        color: black;
    }
</style>
<div class="clearfix margin-top-20"></div>
<p class="custom-texto">
    Você gosta de fazer <strong>novas amizades?</strong> Quer conhecer pessoas com gostos em comum aos
    seus? Adora conversar e fazer teorias sobre o episódio novo da sua série favorita? Então o
    Let&#39;s Talk é perfeito para você!
</p>
<h2 class="bold" style="color:black; text-align:center">Como funciona?</h2>
<div class="clearfix margin-top-20"></div>
<p class="custom-texto">
    No <strong>Let&#39;s Talk</strong> é possível descobrir pessoas com interesses e gostos em comum aos seus. Você
    só precisa se cadastrar para começar a usar! Faça o seu perfil informando sua data de
    nascimento, nome, sobrenome, email e gênero.
</p>
<p class="custom-texto">
    Escolha uma foto de perfil e tags de interesses, como aquela série que você não perde um
    episódio ou até mesmo uma banda que não sai da sua playlist. Mas não precisa se limitar! As
    tags também servem para mostrar interesses por diversos assuntos.
</p>
<p class="custom-texto">
    Além disso, você pode escolher se quer compartilhar a sua localização e ter a chance de
    conhecer pessoas que estão ainda mais perto de você.
</p>
<p class="custom-texto">
    Gostou?
</p>
<p class="custom-texto">
    <a href="@Url.Action("Index","Registrar")" class="bold" style="color:black">Cadastre-se</a> agora mesmo e comece a usar!
</p>
@section JqueryFinal{
    <script>
        jQuery(document).ready(function () {
            Metronic.init();
            Layout.init();
            Demo.init();
        }
    </script>
}