@{

}

<html>
<head>
    <link href="~/assets/global/plugins/croppie/croppie.css" rel="stylesheet" />
</head>
<body>
    <div id="modal">
        <div id="main-cropper"></div>
        <a class="button actionUpload">
            <span>Upload</span>
            <input type="file" id="upload" value="Choose Image" accept="image/*">
        </a>
        <button class="actionDone">Done</button>
        <button class="actionCancel">Cancel</button>
    </div>
</body>
</html>

@section JqueryFinal{
    <script src="~/assets/global/plugins/croppie/croppie.js"></script>
    <script>
        jQuery(document).ready(function () {
            // initiate layout and plugins
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features\

            //var $element = $('.my-croppie-element');
            //$element.croppie({
            //    viewport: {
            //        width: 200,
            //        height: 200,
            //        type: 'square'
            //    },
            //    boundary: {
            //        width: 400,
            //        height: 400
            //    }
            //});
            //$element.croppie('bind', '/UserImages/De5RwT1XkAAfgS8.jpg');
            //$element.croppie('result', 'canvas').then(function (result) {
            //    $('#result-image').attr('src', result);
            //});
            //$uploadCrop = $('#upload-demo').croppie({
            //    enableExif: true,
            //    viewport: {
            //        width: 200,
            //        height: 200,
            //        type: 'circle'
            //    },
            //    boundary: {
            //        width: 300,
            //        height: 300
            //    }
            //});
            var basic = $('#main-cropper').croppie({
                viewport: { width: 200, height: 200 },
                boundary: { width: 400, height: 400 }
            });

            function readFile(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#main-cropper').croppie('bind', {
                            url: e.target.result
                        });
                       // $('.actionDone').toggle();
                        $('.actionUpload').toggle();
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('.actionUpload input').on('change', function () { readFile(this); });
            $('.actionDone').on('click', function () {
                //$('.actionDone').toggle();
                $('.actionUpload').toggle();
            });
       


        });
    </script>
}