

@section PageLevelPluginStyles{
    <link href="~/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
}



    <div id="stack1" class="modal fade" tabindex="-1" data-focus-on="input:first">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h2 class="modal-title bold"> @Model.Nome, @idade </h2>
            </div>

            <div class="modal-body col-md-12 ">
                <img src="@Model.PathFotoPerfil" class="img-responsive" alt="" width="100%">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <h4 class="bold"> @Model.FraseApresentacao </h4>
                        </p>
                    </div>

                    <hr>
                    <div class="col-md-12">
                        <p>
                            <h4> @Model.Descricao </h4>
                        </p>
                    </div>

                    <hr>
                    <div class="col-md-12">
                        <ul class="list-inline blog-tags">
                            <li>
                                @foreach (string tag in tags)
                                {
                                    <i class="fa fa-tags"></i>@tag
                                }
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Voltar</button>
                <button class="btn blue" data-toggle="modal" href="#stack2">Álbum de Fotos</button>
            </div>
        </div>
    </div>







@section  PageLevelPlugins
{
    <script src="~/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
}